.gp-whiteBG {background: $govWhite;}
.gp-greyBG {background: $govGreyBG;}
.gp-greyBG  .md-whiteframe-2dp, .gp-greyBG  .md-whiteframe-3dp {background: $govWhite;}
.gp-lightBlueBG {background: rgba( $govLtGreyBlue, .2 );}
