/*********************************************/
/************** MARGINS and WIDTHS ***********/
/*********************************************/
// margins
.gp-marginAuto {margin: auto !important;}
.gp-noMargin {margin:0 !important;}
.gp-m20 {margin:20px !important;}
.gp-mt20 {margin-top:20px !important;}
.gp-mr20 {margin-right:20px !important;}
.gp-mb20 {margin-bottom:20px !important;}
.gp-ml20 {margin-left:20px !important;}
.gp-mr15 {margin-right:15px !important;}
.gp-ml15 {margin-left:15px !important;}
.gp-mt15 {margin-top:15px !important;}
.gp-mb15 {margin-bottom:15px !important;}
.gp-mt10 {margin-top:10px !important;}
.gp-mr10 {margin-right:10px !important;}
.gp-mb10 {margin-bottom:10px !important;}
.gp-ml10 {margin-left:10px !important;}
.gp-mt5 {margin-top:5px !important;}
.gp-mr5 {margin-right:5px !important;}
.gp-mb5 {margin-bottom:5px !important;}
.gp-ml5 {margin-left:5px !important;}
.gp-mt0 {margin-top:0px !important;}
.gp-mr0 {margin-right:0px !important;}
.gp-mb0 {margin-bottom:0px !important;}
.gp-ml0 {margin-left:0px !important;}
// padding
.gp-p20 {padding:20px !important;}
.gp-pt20 {padding-top: 20px !important;}
.gp-pb20 {padding-bottom: 20px !important;}
.gp-pr20 {padding-right: 20px !important;}
.gp-pl20 {padding-left: 20px !important;}
.gp-p15 {padding:15px !important;}
.gp-pt15 {padding-top: 15px !important;}
.gp-pb15 {padding-bottom: 15px !important;}
.gp-pr15 {padding-right: 15px !important;}
.gp-pl15 {padding-left: 15px !important;}
.gp-pt10 {padding-top: 10px !important;}
.gp-pb10 {padding-bottom: 10px !important;}
.gp-pr10 {padding-right: 10px !important;}
.gp-pl10 {padding-left: 10px !important;}
.gp-p10 {padding:10px !important;}
.gp-pt5 {padding-top: 5px !important;}
.gp-pb5 {padding-bottom: 5px !important;}
.gp-pr5 {padding-right: 5px !important;}
.gp-pl5 {padding-left: 5px !important;}
.gp-p5 {padding:5px !important;}
.gp-pt0 {padding-top: 0px !important;}
.gp-pb0 {padding-bottom: 0px !important;}
.gp-pr0 {padding-right: 0px !important;}
.gp-pl0 {padding-left: 0px !important;}
.gp-noPadding {padding:0px !important;}
// widths
.gp-row {margin:0;padding: 10px 10px;}
.gp-width-10 {width:10%;}
.gp-width-20 {width:20%;}
.gp-width-25 {width:25%;}
.gp-width-33 {width:33.33%;}
.gp-width-45 {width:45%;}
.gp-width-50 {width:50%;}
.gp-width-66 {width:33.66%;}
.gp-width-75 {width:33%;}
.gp-width-100 {width:100%;}
