<div id="gp-footer" class="gpFooter">
  <div class="gp-footerSocialMedia">
    <a href="https://twitter.com/app1url" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/governmentfreelanceexchange/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/company/app1url/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="gp-footerItems">
    <div class="gp-copyright">
      <i class="fa fa-copyright"></i> 2018 &nbsp; Government Proposal Solutions | All Rights Reserved
    </div>
    <ul class="gp-footerTerms">
      <li><a href="http://helpcenter.app1urlapp.com/legal-center/app1url-terms-of-service" target="_blank">Terms of Service</a></li>
      <li><a href="mailto:support@app1url.com">Contact Us</a></li>
    </ul>
  </div>
</div>
